<form action="" class="form" [formGroup]="userForm">
  <span class="form__title">Registration</span>

  <div class="form__element">
    <label for="emailTitle">Login *</label>

    <input
      type="email"
      name="email"
      id="emailTitle"
      class="form__input-field"
      placeholder="username@example.com"
      formControlName="email"
    >
  </div>

  <div class="form__element">
    <label for="passwordTitle">Password *</label>

    <div class="form__input">
      <input
        type="{{ passwordType }}"
        name="password"
        id="passwordTitle"
        class="form__input-field"
        placeholder="********"
        formControlName="password"
      >

      <div class="password-icon" (click)="togglePasswordVisibility()">
        <img src="svg/lock.svg" alt="Lock icon" *ngIf="!isPasswordVisible">

        <img src="svg/unlock.svg" alt="Unlock icon" *ngIf="isPasswordVisible">
      </div>
    </div>
  </div>

  <div class="form__sections">
    <form-sections [form]="userForm"></form-sections>
  </div>

  <button
    type="submit"
    class="form__submit"
    [disabled]="isEmailEmpty || isPasswordInvalid ? true : null">Register</button>
</form>
